In [1]:
import sys
sys.executable

'/home/ubuntu/anaconda3/envs/shun/bin/python'

In [2]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
from fastai import *
from fastai.vision import *

In [5]:
path = Path('../../../data/whale')
path

PosixPath('../../../data/whale')

In [7]:
df = pd.read_csv(path/'train.csv')
df.head(n=10)

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale
5  0006e997e.jpg  new_whale
6  000a6daec.jpg  w_dd88965
7  000f0f2bf.jpg  new_whale
8  0016b897a.jpg  w_64404ac
9  001c1ac5f.jpg  w_a6f9d33

In [ ]:
tfms = get_transforms(flip_vert=False, max_lighting=0.1, max_zoom=1.05, max_warp=0.)